.list,
.list_empty {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: var(--popover-background-color);
  box-shadow: 0 0 5px 1px var(--popover-shadow);
  border-radius: 4px;
}

.list {
  list-style-type: none;
  padding: 12px 0;
  margin: 0;
}

.list_empty {
  padding: 16px;
}
