:root {
  --background-color: #0059d9;
  --background-color_hover: #000000;
  --font-color: #ffffff;
  --outline-color: #000000;
}

.button {
  background-color: var(--background-color);
  border-radius: 4px;
  border: none;
  outline: none;

  font-size: 18px;
  line-height: 24px;
  color: var(--font-color);
  padding: 14px;

  cursor: pointer;
  transition: all .2s ease-in-out;
}

.button:hover {
  background-color: var(--background-color_hover);
}

.button:active {
  background-color: var(--background-color);
  opacity: .7;
}

.button:focus-visible {
  position: relative;
  z-index: 1;
  outline: 2px solid var(--outline-color);
}